*{
    margin: 0;
    padding:0;
    background-color:rgb(23, 107, 135);
  
    
}
.main{
  
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.5rem;
    
    

}


h1{
    color: azure;
    background-color: rgb(23, 107, 135);
}


.badge{
    background-color:rgb(23, 107, 135);
    border: none;
    color: azure;
    border-radius:100px;
    padding: 15px;
    font-weight: 800;
    font-size: medium;
    margin-right: 10px;
    width: fit-content;
    cursor: pointer;
    
}



.sticky-nav{
    position: sticky;
    top: 0;
    background-color:rgb(23, 107, 135);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    height: 50px;
    top:0;
    left: 0;
    right: 0;
}



.heading{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    font-weight: 700;
   color: white;
   background-color:rgb(29, 143, 181) ;
  
}

.pune-city{
    margin: 20px;
   padding-top: 30px;
   padding-bottom: 30px;
    height: 330px;
    width: 95%;
    box-shadow: 2px 2px 8px black;
    
}

.transport-info{
    height: 50px;
    font-weight: 500;
    top: 50px;
    align-content: center;
    float: right;
    width: 50%;
    text-align: start;
    color: aliceblue;
    padding-right: 30px;
   

}

.link{
    height: 80px;
    width: 50%;
    padding-left: 5%;
  
}

.list{
    height: 250px;
    width: 200px;
    padding: 20px;
    text-align: center;
    border: none;
    font-weight: 700;
    font-size: larger;
    line-height:100%;
    margin: 50px;
    color:white;
    
    box-shadow: 2px 2px 8px 2px black;
}


.card{
    background-color:rgb(29, 143, 181);
    width: 200px;
    height: 50px;
    height: auto;
    border-radius: 0.5rem;
    margin: 0;
  
}

.cards-container{
background-color:rgb(23, 107, 135);
  width: 500px;
  margin: 0%;
  justify-content: center;
  box-shadow: 2px 2px 8px black;
  gap: 20px;
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  padding: 20px;
  padding-left: 70px;
  
    
}

.card-img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.services-info{
    height: 50px;
    font-weight: 500;
    top: 50px;
    display: flex;
    align-content: start;
    float: right;
    width: 50%;
    transform: translateX(-50%);
    text-align: start;
    color: aliceblue;
    padding-right: 30px;
   

}

.whole{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
}

.Search-bar{
    width:100%;
    height:40px ;
    justify-content: center;
    display: flex;
    color:black;
    padding: 20px;
    margin: 0%;
    background-color: rgb(29, 143, 181);

}

.bottom-img{
    width: 100%;
   height: 40%;
}

#id{
    width: 100px;
}

footer{
    background-color: rgb(199, 200, 204);
    box-shadow: 2px 2px 8px black;
  }
  
  .footer-container{
    width: 100%;
    padding: 70px 30px 20px;
  }
  
  .socialicons{
    display: flex;
    justify-content: center;
  }
  
  .socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color:rgb(23, 107, 135) ;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  
  .socialicons a:hover{
    background-color: rgb(55, 205, 255);
    transition: 0.5s;
  
  }
  
  .socialicons a:hover i{
    color: rgb(55, 205, 255);
    transition: 0.5s;
  }
  
  .footerNav{
    margin: 30px;
  
  }
  
  .footerNav ul{
    display: flex;
    justify-content: center;
  }
  
  .footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  .footerNav ul li a:hover{
    opacity: 1;
  
  }
  
  .footerBottom{
    background-color: rgb(23, 107, 135);
    padding: 20px;
    text-align: center;
  }
  
  .footerBottom p{
    color: black;
  }
  
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5px ;
  }

.transport-image{
   height:80vh;
   width:100% ;
   float:left;
 

}







